<div class="ls-topbar">

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca -->
    <h1 class="ls-brand-name centered">
      <a href="#" class="ls-ico-pencil2">
        Subskribo
      </a>
    </h1>
</div>

{{outlet}}
