<div class="ls-topbar">

  <!-- Nome do produto/marca -->
    <h1 class="ls-brand-name">
      <a href="#" class="ls-ico-pencil2">
        Subskribo
      </a>
    </h1>
</div>

{{outlet}}

<footer class="ls-footer">
    <nav class="ls-footer-menu ls-md-space">
      <div class="ls-title-footer">
        <a href="http://locaweb.com.br/"><img src="locaweb-logo.png" alt="locaweb logo"></a>
      </div>
    <p class="doc-copyright ls-display-inline-block">
      <a href="https://opensource.org/licenses/AGPL-3.0" target="_blank">AGPL</a> Copyright © 2015 <a href="http://twitter.com/kemelzaidan">Kemel Zaidan</a>.
    </p>
  </nav>
</footer>
